@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');


* {
background-color:#FFF0F5;
font-size: 110%;
line-height: 1.4; 
margin:0;
padding: 0;
box-sizing: border-box;
}

.logo__alura {
    margin: 10px;
    margin-top: 10px;
    width: 5%;
} 

.cabecalho{
    padding: 2% 0% 0% 10%;
    margin: left 10px; 
    width: auto; 
    display: flex; 
    align-items: center;  
    gap: 80px;
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
    gap:20px;
}

main {
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
    position: relative;
}

.text__area {
    border: none;
    color: black;
    text-transform: lowercase;
    margin-top: 100px;
    letter-spacing: 0.5px;  
    line-height: 1.4;
    font-size: 32px;
    width: 90%;
    max-width: 600px;
    height: 300px;
    overflow: auto;
    gap: 82px;
    font-family: "Lexend", sans-serif;
    font-weight: 200;
    font-size: 20px;
    font-size: 110%;
}

::placeholder{color:black;}
    .text__area:focus {
        outline: none;
    }

.mensagem__container {
    position: relative; 
    width: 100%;
    height: 100%;
    
}


.mensagem {
    background:#f2f5fc;
    background-image: url(/image/fundo-rosa.png); 
    background-repeat: no-repeat; 
    background-color: white;
    background-position-x: center;
    background-position-y: center;
    border-radius: 24px;
    color: black;
    margin-left: 98px;
    margin-top: 0px;
    height: 384px;
    padding-left: 20px;
    font-size: 32px;
    font-weight: 160; 
    letter-spacing: 0.5px;  
    line-height: 1.4;
    font-family: "Lexend", sans-serif;
    font-weight: 200;
    font-size: 20px;
    font-size: 110%;
}

.mensagem:focus {
    outline: none;
}
    
.botoes {
    display: flex;
    margin-top: 18px;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.botao__criptografar {
    background: #DB7093;
    border: 1px dotted;
    border-radius: 24px;
    color:#f2f5fc;
    cursor: pointer;
    height: 60px;
    margin-top: 10px;
    width: 200px; 
    font-family: "Lexend", sans-serif;
    font-weight: 200;
    font-size: 20px;
    font-size: 110%;
}

.botao__descriptografar {
    background:  #DB7093;
    border: 1px dotted #d0dceb;
    border-radius: 24px;
    color:#f2f5fc;
    cursor: pointer;
    height: 60px;
    margin-left: 30px;
    margin-top: 10px;
    width: 240px;
    font-family: "Lexend", sans-serif;
    font-weight: 200;
    font-size: 20px;
    font-size: 110%;
}

.botao__copiar {
    background:  #DB7093;;
    border: 1px dotted #d0dceb; 
    border-radius: 24px;
    color:#f2f5fc;
    cursor: pointer;
    height: 60px;
    margin-left: 70px;
    margin-top: 10px;
    width: 160px;
    justify-content: center;
    align-content: center; 
    position: absolute; 
    bottom: 1px; 
    left: 60%; 
    transform: translateX(-50%); 
    font-family: "Lexend", sans-serif;
    font-weight: 200;
    font-size: 20px;
    font-size: 110%;
}

.informacao {
    color: black;
    font-size: 11px;
    font-family: "Lexend", sans-serif;
    font-weight: 100;
}

.rodape {
    text-align: center;
    color: black;
    padding: 10px;
    position:static;
    width: 100%;
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;

}